<body class="body">
<div class="container1">
  <div class="row">
    <div class="container , header1">
      <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-6 col-xs-6">
          <p class="manage">
            Manage Employees
          </p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
            <div class="col-lg-6 col-md-2">
              <button type="button" class="btn_del btn-danger">
                <img class="img1" src="http://www.icon100.com/up/3923/256/44-Minus-circular-button.png">Delete
              </button>
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 add4">
              <nav>
                <a routerLink="/add">
                  <button type="button" class="btn_add btn-success">
                    <img class="img1" src="https://image.flaticon.com/icons/png/128/149/149145.png">
                    Add New Employee
                  </button>
                </a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" container , table1">
      <div class="row">
        <table class="table" border="1">
          <thead>
          <tr>
            <th scope="col"><input type="checkbox"/></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Adress</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of Userlist | async" detail-push>
            <th scope="row"><input type="checkbox"/></th>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>{{user.phone}}</td>
            <td>
              <div class="col-lg-6 col-md-6 col-sm-6">
              <nav>
                <a routerLink="/edit">
                  <button class="btn-link">
                    <img class="pencil btn-secondary"
                         src="https://image.freepik.com/icones-gratis/lapis-sorteio_318-10771.jpg">
                  </button>
                </a>
              </nav>
              </div>
              <button class="btn-link">
                <img class="pencil btn-secondary"
                     src="https://cdn.iconscout.com/public/images/icon/free/png-512/delete-recycle-bin-waste-trash-iphonex-ios11-ui-34dae83457e8ba42-512x512.png">
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>


