<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div class="container">
  <div class="row" align="center">
    <div class="add" border="1">
      <p class="employee">Edit Employee</p>
      <hr>
      <p class="name" align="left">Name</p>
      <input type="text" class="text_area">
      <p> </p>
      <p class="name" align="left">Email</p>
      <input type="text" class="text_area">
      <p> </p>
      <p class="name" align="left">Adress</p>
      <input type="text" class="text_area">
      <p> </p>
      <p class="name" align="left">Phone</p>
      <input type="text" class="text_area">
      <hr>
      <div class="all_btn">
        <button type="button" class="btn btn-default">
          <nav>
            <a routerLink="/main">
              Cancel
            </a>
          </nav>
        </button>
        <button type="button" class="btn btn-info">Save</button>
      </div>
    </div>
  </div>
</div>

